doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/style.css')
    link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap-theme.css')
  body
    block content
